body{
    background-color: #1c0d26;
    color: white;
}

h2 {
    font-size: 1rem;
}

.highlighted-text{
    font-size: 14px;
    color: #D94969;
}
/* ===== Nav ===== */

.logo{
    width: 100%;
    background-color: white;
    border-radius: 4px;
}

.menu {
    color: #ccc;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 30%);
    background-color: #000000;
    width: 100%;
    top: 0;

    position: fixed;
    z-index: 999999;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

/* ===== Section Title ===== */
.section-title{
    margin-top: 80px;
}

/* ===== Carousel ===== */
.price-carousel {

}

.btn-carousel{

}

.badge-myMod{
    position: absolute;
    left: -104px;
    bottom: 3rem;
    padding: 4px;
}

.carousel-caption-myMod {
    bottom: -64px;
}

/* ===== card-deck ===== */
.card-deck-myMod{
    margin-top: 80px
}

.card-myMod{
    background-color: #1d7261;
    color: white;
    border: none;
}

.price-original{
    font-size: 8px;
    line-height: 9px;
    text-decoration: line-through;
    text-align: end;
}

.price-current {
    font-weight: 700;
    line-height: 12px;
    font-size: .8rem;
    margin-left: 8px;
}

.discount{
    padding: 9px 8px;
    align-self:center;
    background-color: #d94969;
    border-radius: 2px;

    font-weight: 700;
    line-height: 12px;
    font-size: .8rem;
}

.game-title{
    font-size: 14px;
    padding-top: 8px;
    height: 38px;
}

.car-img-myMod{
    height: 112px;
    object-fit: cover;
}

.card-stats{
    margin-bottom: 16px;
}

.card-myMod-3col-cards{
    margin-top: 15px;

}


/* ===== between sections ===== */
.between-section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #f4b13d;
    border-bottom: 1px solid #f4b13d;
    
}

.side-campain{
    border-left: 1px solid #f4b13d; 
}

.text-between-section{
    margin-top: 1rem;
    padding-left: 0px;
    font-size: 14px;
}

/* ===== caroussel controls ====== */

.carousel-control-next{

    position: absolute;
    right: -112px;
}

.carousel-control-prev {
    position: absolute;
    left: -112px;

}
